.ab-section {
    width: 100vw;
    /* min-height: fit-content; */
    height: fit-content;
    min-height: 100vh;
    background: var(--primary-grd);
    overflow-x: hidden !important;
}

h1 {
    font: normal 700 2rem/2.2rem var(--primary-font);
    color: var(--primary-blue);
    text-align: center;
    padding: 2rem 0;
}

.ab-container {
    /* border: 10px solid salmon; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 100vw;
    margin-top: 5rem;
}

@media screen and (max-width: 680px) {
    .ab-container {
        margin-top: 3rem;
        gap: 2rem;
    }
}

.ab-card {
    width: 15rem;
    margin: auto;
    /* height: 360px; */
    aspect-ratio: 9/12;
    border-radius: 16px;
}

.front-content {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 90%;
}

.back-content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.back-content button {
    margin: auto;
}

blockquote {
    font: normal 500 1.2rem/1.5rem var(--secondary-font);
    color: var(--primary-blue);
}

.ab-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}



.ab-title {
    font: normal 300 1.5rem/2rem var(--secondary-font);
    color: var(--primary-pink);
}

.flip-btn {
    font: normal 200 1rem/1.2rem var(--primary-font);
    border: 1px solid var(--primary-pink);
    margin-top: 1rem;
    background: transparent;
    color: var(--primary-pink);
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.flip-btn:hover {
    background: var(--primary-grd);
    color: var(--primary-pink);
}

/* AVATARS */

.tandon {
    background: var(--secondary-grd-inv),
        url('https://media.licdn.com/dms/image/D5603AQG8NcH8fust7g/profile-displayphoto-shrink_400_400/0/1671133560169?e=1680134400&v=beta&t=_ibuL8ptkOxBI8ncslXq9G6wALv85TqUcNt5gRbHdpk') center center/cover no-repeat;
}

.usk {
    background: var(--secondary-grd-inv),
        url('../../assets/usk.jpg') center center/cover no-repeat;
}

.deejai {
    background: var(--secondary-grd-inv),
        url('../../assets/deejai.jpg') center center/cover no-repeat;
}

.deejaiBack {
    background: var(--card-back-grd),
        url('https://i.giphy.com/media/VekcnHOwOI5So/giphy.gif') center center/cover no-repeat;
}

.tandonBack {
    background: var(--card-back-grd),
        url('https://i.giphy.com/media/VRKheDy4DkBMrQm66p/giphy-downsized-large.gif') center center/cover no-repeat;
}

.uskBack {
    background: var(--card-back-grd),
        url('https://i.giphy.com/media/BzyTuYCmvSORqs1ABM/giphy.gif') center center/cover no-repeat;

}