@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Urbanist:wght@100;200;300;400;500;600;700&display=swap');

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    cursor: default !important;
    z-index: -1;
}

.home-sub {
    margin: auto;
    text-align: center;
    font: normal 300 1.5rem/2rem var(--secondary-font);
    color: var(--primary-pink);
    text-transform: capitalize;
}

.ex-btn {
    border: 2px solid var(--primary-pink);
    font: normal 300 1.2rem/1.5rem var(--secondary-font);
    border-radius: 16px;
    background: transparent;
    padding: 0.5rem 1rem;
    color: var(--primary-pink);
    margin: auto;
    cursor: pointer;
}

.ex-btn:hover {
    background: var(--primary-dark);
}

.home-cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-content {
    justify-self: center;
    align-self: center;
    width: 90%;
    max-width: 600px;
}

.txt-content {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}