@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Urbanist:wght@100;200;300;400;500;600;700&display=swap");

.genre-corousel {
  margin-top: 100vh;
  height: 75vh;
}

#slider {
  /* position: relative; */
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-top: 25vh;
  -webkit-user-select: none;
  user-select: none;
}

.genre-card {
  /* position: absolute; */
  /* width: 236px; */
  /* min-height: 300px; */
  height: 350px;
  /* left: 505px; */
  /* min-width: 200px; */
  /* top: 1225px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(158.05deg, #463d5c 25.14%, #06011c 77.85%);
  border-radius: 16px;
  /* transition: all 1s ease-in; */
}

.genre-card img {
  display: block;
  padding-top: 18px;
  /* width: 191px; */
  width: 90%;
  margin: 8px auto;
}

.genre-card p {
  font-family: "Urbanist";
  font-weight: 400;
  font-size: 1rem;

  margin: 0;
  margin-top: 12px;
  text-align: center;
  letter-spacing: 0.025em;
  text-transform: capitalize;

  color: #f56fe2;
}

.genre-card button {
  width: 5.6rem;
  height: 23px;
  font-size: 0.5rem;
  background: #070029;
  border: 1px solid rgba(255, 255, 255, 0.719);
  border-radius: 55px;
  color: #f56fe2;
  margin: auto;
}

#slider label {
  margin: auto;
  width: 20%;
  height: 100%;

  min-width: 13rem;

  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.7s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
  transform: translate3d(-60%, 16px, -150px);
  /* transform: translate(-50%, -50%); */
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
  transform: translate3d(-35%, 8px, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
  transform: translate3d(0, 0px, 0px);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
  transform: translate3d(35%, 8px, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
  transform: translate3d(60%, 16px, -150px);
}

@media only screen and (max-width: 680px) {

  #s1:checked~#slide3,
  #s2:checked~#slide4,
  #s3:checked~#slide5,
  #s4:checked~#slide1,
  #s5:checked~#slide2 {
    transform: translate3d(60%, 16px, -450px);
  }

  #s1:checked~#slide4,
  #s2:checked~#slide5,
  #s3:checked~#slide1,
  #s4:checked~#slide2,
  #s5:checked~#slide3 {
    transform: translate3d(-60%, 16px, -450px);
  }
}

#slider input {
  position: absolute;

  left: 50%;
  z-index: 232;

  top: 50vh;
}

#s1 {
  transform: translateX(-40px);
}

#s2 {
  transform: translateX(-20px);
}

#s4 {
  transform: translateX(20px);
}

#s5 {
  transform: translateX(40px);
}

@media only screen and (max-width: 680px) {

  #s1:checked~#slide3,
  #s2:checked~#slide4,
  #s3:checked~#slide5,
  #s4:checked~#slide1,
  #s5:checked~#slide2 {
    transform: translate3d(60%, 16px, -450px);
  }

  #s1:checked~#slide4,
  #s2:checked~#slide5,
  #s3:checked~#slide1,
  #s4:checked~#slide2,
  #s5:checked~#slide3 {
    transform: translate3d(-60%, 16px, -450px);
  }

  #slider input {
    top: 45vh;
  }
}