img {
    width: 12rem;
    aspect-ratio: 4/3;
    cursor: pointer;
}

.smhead {
    /* position: absolute; */
}

#similar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 8rem;

    margin: 1rem;
    border-radius: 0.5rem;
}