img {
    width: 12rem;
    aspect-ratio: 4/3;
    cursor: pointer;
}

.smhead {
    /* position: absolute; */
}

#similar {
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
}